<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap"
        rel="stylesheet">

    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <!-- (navbar, login bar y al search bar) -->
        <div class="encabezado">
            <div class="logo-img">
                <a href="/"><img id="logo" src="images/logo-mercado-liebre.svg" alt="logo liebre"></a>
            </div>
        </div>

    </header>

    <main>
        <section class="container">
            <form class="form-login" action="/" method="GEt">


                <div class="input-box">
                    <input type="email" required placeholder="Email">
                </div>

                <div class="input-box">
                    <!-- <label for="">Confirmar Contraseña:</label> -->
                    <input type="password" placeholder="Contraseña" pattern=".{6,}" required>
                </div>
                <div class="form-btn">
                    <button type="submit" class="submit-btn"> iniciar</button>
                    <button type="reset" class="submit-btn">Cancelar</button>

                </div>
                <p>
                    ¿no tenes una cuenta?
                    <a href="/register">regitrarse</a>
                </p>

            </form>
        </section>

    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card fa-2xl"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift fa-2xl"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield fa-2xl"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>
</body>

</html>