<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilo -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/register-style.css">
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap"
        rel="stylesheet">

    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <!-- (navbar, login bar y al search bar) -->
        <div class="encabezado">
            <div class="logo-img">
                <a href="/"><img id="logo" src="images/logo-mercado-liebre.svg" alt="logo liebre"></a>
            </div>
        </div>


    </header>

    <main>
        <section class="container">
            <form class="form-register" action="/register" method="">

                <div class="input-box">
                    <input type="text" placeholder="Nombre y Apellido" required pattern=".{4,}"
                        title="El nombre debe tener al menos 4 (cuatro) caracteres.">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Nombre de usuario" required pattern=".{3,}"
                        title="El nombre de usuario debe tener al menos 3 (cuatro) caracteres.">
                </div>
                <div class="input-box">
                    <input type="email" required placeholder="Email">
                </div>
                <div class="input-box">
                    <label for="">Fecha de nacimiento: </label> <br>
                    <input type="date" value="YYY/mm/dd" required placeholder="yyy/mm/dd">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Domicilio" required pattern=".{4,}">
                </div>
                <div class="columna-caja">
                    <div class="lista-input">
                        <label for="">Perfil de usuario:</label>
                        <ul type="none">
                            <li>
                                <input type="radio" name="perfil" value="comprador" required>
                                <label for="comprador">Comprador</label>
                            </li>
                            <li>
                                <input type="radio" name="perfil" value="vendedor" required>
                                <label for="vendedor">Vendedor</label>
                            </li>
                        </ul>
                    </div>

                    <div class="lista-input">
                        <label for="">Categorias de interes</label>

                        <ul type="none">
                            <li>
                                <input type="checkbox" name="electro">
                                <label for="electro">Electro</label>

                            </li>
                            <li>
                                <input type="checkbox" name="moda">
                                <label for="moda">Moda</label>
                            </li>
                            <li>
                                <input type="checkbox" name="hogar">
                                <label for="hogar">Hogar</label>
                            </li>
                            <li>
                                <input type="checkbox" name="jugueteria">
                                <label for="jugueteria">Jugueteria</label>
                            </li>
                            <li>
                                <input type="checkbox" name="vida-sana">
                                <label for="vida-sana">Vida sana</label>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="input-box">
                    <label>Seleccionar una foto de usuario:</label>
                    <input type="file" name="avatar" accept=".jpg" multiple required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Contraseña" pattern=".{6,}" required
                        title="Debe ingresar al menos 6 (seis) caracteres">
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Confirmar Contraseña" pattern=".{6,}" required
                        title="Debe ingresar al menos 6 (seis) caracteres">
                </div>
                <div class="form-btn">
                    <button class="borrar-btn" type="reset">Borrar</button>
                    <button class="submit-btn" type="submit">Registrarse</button>
                </div>
                <p class="login">
                    ¿Ya tenes una cuenta?
                    <a href="/login">login</a>
                </p>
            </form>
        </section>

    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card fa-2xl"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift fa-2xl"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield fa-2xl"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>
</body>

</html>