:root {
    /* Paleta de colores */
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    /* Tipografía */
    --font-familia: 'Roboto', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    /* margin: 0px; */
    /* padding: 0px;  */
    box-sizing: border-box;
}

#logo {
    width: 70%;
}

#searchBar input {
    border-radius: 5px;
    padding: 5px;
}

.titular {
    font-size: 24px;
}

.precio-txt {
    font-size: 18px;
    width: 30%;
    /* padding: 10px; */
    margin-left: 10px;
    margin-right: 10px;
}

.desc-txt {
    font-size: 16px;
    display: none;
}

.descuento-txt {
    color: #39b54a;
    font-size: 16px;
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: end;
}
/* barra de busqueda */

#searchBar {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.searchTerm {
    width: 80%;
    border: none;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: #004fa3;
}
  
.searchButton {
    width: 40px;
    height: 30px;
    border: none;
    background: white;
    text-align: center;
    color: #666;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
/* fin */
#navBar {
    display: flex;
}

#loginBar {
    display: flex;
}

header {
    background-color: var(--amarillo);
    display: block
}

header ul {
    display: flex;
    align-items: flex-end;
    padding: 5px;
}

header li {
    padding: 10px;
}
footer i:hover {
    color: var(--amarillo);
}

footer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 20px;
    text-align: center;
}
footer div{
    text-align: left;
    margin-bottom: 10px;
    display: flex;
}

footer section {
    text-align: center;
    background-color: white;
    flex-basis: 30%;
    margin: 10px;
  

}

footer i {
    color: blue;
    margin-bottom: 10px;
}

main {
    align-items: center;
    background-color: #ebebeb;
    padding: 10px;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    width: 90%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.caja-art {
    border-top: 1px solid #ebebeb;
    margin: 15px;
    position: relative;
}

.cajaBar {
    display: flex;
}

main .articulo {
    background-color: white;
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.encabezado i {
    padding: 5px;
    margin: 10%;
}

.burger-menu {
    color: white;
    padding: 1%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.articulo {
    position: relative;
    overflow: hidden;
    transition: box-shadow 1s ease;
}

.articulo:hover .desc-txt {
    display: block;
}


.articulo:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.menu-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.art-img {
    width: 90%;
}

.ico-posi {
    display: inline;
    flex-direction: column;
    width: 50%;
    padding: 0%;
    margin: 0%;

}

.caja-art .product-delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}
/* Girar el ícono del camión en hover */
.articulo:hover .product-delivery-icon {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.logo-img {
    width: 50%;
}

/* tablets y desk */
@media (min-width: 768px) {
    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


    .burger-menu {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    main .articulo {
        width: calc(50% - 20px);
    }
}

/* mobile last */
@media (max-width: 480px) {

    .desc-txt {
        display: none;
    }

    #navBar {
        display: none;
    }

    #loginBar {
        display: none;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #logo {
        width: 100%;
        margin-right: 0%;
        padding: 10px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .ico-posi {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }

    main .articulo {
        width: 100%;
    }

    .encabezado {
        display: row;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

    }

    .ico-posi {
        display: inline;
        width: 100%;
    }
}