body {
    /* background-color:#ebebeb ; */
    text-size-adjust: 12px;
}


* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {

    align-content: center;
    width: 90%;
    background-color: #ebebeb;
    border-top: solid 1px #ebebeb;
    padding: 15px;

}

div {

    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: white;

}

#imgEnvio {
    flex-direction:row-reverse ;
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: -15px;
}
.info{
    flex-direction: row;
    display: flex;
}
.txtDescuento {
    color: #39b54a;
    width: 70%;

}

.txtPrec {
    width: 35%;
}

.imid {
    text-align: center;
}

#menu {

    background-color: #0000ff;
    border-radius: 10%;
    padding: 1%;
    color: white;
    background-color: #0000ff;




}



#search-bar {
    text-align: center;
}

footer {

    background-color: white;

}

header {
    background-color: #EAC926;
}



footer {
    text-align: center;
}
.ultima-visita{
    display: flex; /* Utiliza Flexbox para el diseño */
    justify-content: space-between; /* Distribuye los elementos de manera uniforme a lo largo del contenedor */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
    border: 1px solid #021226;
    padding: 10px;
}

svg {
    fill: #0000ff;
    width: 2em;
    margin-bottom: 10px;

}

/* tablets */
@media(min-whidth: 460px) {}

@media(max-width:768px) {}

/* mobile last */
@media (max-width: 460px) {
    * {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .desc {
        display: none;
    }
    .burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    
    }
    nav {

        align-content: center;
    
    }
}

img {
    width: 25%;
}